*.class
target/
.plugins/
*.index
.metadata/
.DS_Store
*/target/*
*/target
*/target/
*.class
target/
.plugins/
*.index
.settings/
*/.settings/*
.settings

bin
obj
/wp4/gui/*.suo
.pmd
.pmd/*
*/.pmd
*/.pmd/*

#Added by Germán Martínez from ETRA
*.classpath
*.project
*.MF
/wp4/*/build
